* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

header {
	height: 10rem;
	width: 100%;
	background-color: #38ff00;
}

header a img {
	height: 3rem;
	width: 3rem;
	border-radius: 25%;
	margin: 8px;
}
header div {
	margin-top: -1.5rem;
}

header div ul {
   list-style: none;
   color: white;
   float: right;
}

header div ul li {
	display: inline-block;
	margin: 5px;
	
}


header div ul li a {
	text-decoration: none;
	color: black;
	font-size: 90%;
	font-family: cursive;
}

header .user {
	margin-left: 8rem;
	margin-top: -1rem;
	color: white;
	font-family: Algerian;
}

.active, header div ul li:hover
{
  background-color: transparent;
  border-radius: 3px;
  border: solid 3.4px black;
  transition: 0.5s;
  color: white;
}

main .pt{
	width: 55%;
	color: #74e9d9;
	border-radius: 0.6rem;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	margin: 5px;
}

main .pt h1 {
	color: #f9f7f5;
	font-family: Arial Rounded MT Bold;
	font-size: 35px;
	margin: -26px;
}

main .pt .pp p {
	color: blue;
	font-family: Arial Rounded MT Bold;
	font-size: 13px;
}

main .details{
	width: 40%;
	height: 20%;
	color: #4debf3;
	border: solid 5px #e127f1;
	border-radius: 0.6rem;
	font-family: Goudy Stout;
	font-size: 10px;
	margin: 5px;
	text-align: center;
	text-overflow: ellipsis;
}

main .details h1 {
	color: #fda73d;
	font-family: Arial Rounded MT Bold;
}

main {
	display: inline-flex;
	width: 100%;
}